<h1><%= t ".Log in" %></h1>
<br>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div>
    <%= f.email_field :email, placeholder: "メールアドレス" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "パスワード" %>
  </div>
  <br>
  <%= f.submit "ログイン", class: 'btn btn-primary' %>
<% end %>