<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %>prohibited this <%= @user.name %>from being saved:</h2>
    <ul>
      <%= @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %> 
    </ul>
  </div>
<% end %>
<br>
<%= form_with(model: @user, local: true) do |f| %>  
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "名前" %><br>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "メールアドレス" %><br>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "パスワード" %><br>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, placeholder: "確認用パスワード" %>
  </div>
  <br>
  <div>
    <%= f.label :image%>
    <%= f.file_field :image %>
  </div>
  <%= f.submit "投稿する" %>
<% end %>